.box-content {
    background: deepskyblue;
    margin: 30px 0px;
    padding: 40px;
}

table {
    word-wrap: break-word;
    word-break: break-all;
}

.box-header {
    text-align: center;
    margin-bottom: 30px;
}
